.about {
	position: relative;
	padding: 50px 0;

	&::after {
		content: "";
		position: absolute;
		bottom: -170px;
		left: 0;
		display: block;
		width: 900px;
		height: 380px;
    background-image: url("../img/background.png");
		background-repeat: no-repeat;
		background-size: contain;

    @include tablet {
      bottom: -111px;
      width: 550px;
      height: 213px;
    }
    @include small-tablet {
      display: none;
    }
	}
	&__paragraph {
		width: 60%;
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 1.2;
		color: #fff;

    @include tablet {
      font-size: 16px;
      width: 100%;
    }
    @include mobile {
      font-size: 14px;
    }
		a {
			color: #FEF19A;
			text-decoration: underline;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__title {
		margin-top: 70px;
		font-size: 24px;
		text-align: center;
		color: #FEF19A;

    @include mobile {
      margin-top: 40px;
    }
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 40px;

    @include mobile {
      margin-top: 30px;
    }
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		width: 20%;
    @include small-tablet {
      width: 25%;
      }
    @include mobile {
      width: 30%;
    }
		.image {
			margin-bottom: 5px;
      @include mobile {
        max-height: 55px;
      }
		}
		.text {
			font-size: 16px;
			color: #fff;
      @include mobile {
        font-size: 14px;
      }
		}
	}
}
