.footer {
	padding: 20px 0;
	background-color: #2372A8;

	&__list {
		display: flex;
		align-items: center;

    @include mobile {
      flex-wrap: wrap;
      justify-content: space-between;
    }
	}

	&__item {
    &:not(:last-child) {
      margin-right: 15px;

      @include mobile {
        margin-right: 0;
      }
    }

    & a {
      font-size: 18px;
      color: #fff;
      transition: all .3s ease;

      &:hover {
        color: #FEF19A;
      }

      @include small-tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }
    } 
  }
}
