.header {
  background-color: var(--black-back-color);

  &-block {
    display: flex;
    align-items: center;
    height: 80px;

    @include tablet {
      flex-wrap: wrap;
      height: 100px;
    }

    @include mobile {
      height: 50px;
    }
  }

  &__logo {
    width: 200px;
    @include tablet {
      margin-right: auto;
      width: 180px;
      order: 0;
    }
    @include mobile {
      display: none;
    }
  }

  &__nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      width: 100%;
      order: 2;
    }

    @include mobile {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      padding: 20px;
      background-color: var(--black-back-color);
      transform: translateX(-100%);
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease-in-out;

      &.is-active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
        z-index: 122;
      }
    }

    &-logo {
      display: none;
      @include mobile {
        display: flex;
        margin-top: 20px;
        width: 52%;
      }
    }
  }

  &__close {
    display: none;
    width: 20px;
    height: 20px;
    @include mobile {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 13px;
        right: 13px;
        display: block;
        width: 20px;
        height: 1px;
        background-color: var(--white-color);
        z-index: 2;
      }

      &::before {
        transform: rotate(45deg) translate(2px, 24px);
      }

      &::after {
        transform: rotate(-45deg) translate(-24px, 2px);
      }
    }
  }

  &__list {
    display: flex;
    @include tablet {
      width: 100%;
      justify-content: space-around;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 48px;

      @include tablet {
        margin-right: 0;
      }

      @include mobile {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    color: var(--text-color);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 1px;
      background-color: var(--yellow-color);
      transition: all .3s ease-in;
    }

    @include for-desktop {
      &:hover::after {
        visibility: visible;
        opacity: 1;
      }
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__language {
    color: var(--text-color);
    transition: all .3s ease-in-out;

    @include for-desktop {
      &:hover {
        color: var(--yellow-color);
      }
    }
  }

  &__contact {
    margin-left: 20px;
    @include mobile {
      display: none;
    }
  }
}

.ru-header__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}