.small {
	padding: 50px 0;

  @include tablet {
    padding: 30px 0;
  }

	&__swiper {
		padding: 0 20px;
		margin: 0 -20px;

    @include small-tablet {
      position: relative;
      padding-top: 50px;
      padding-right: 0;
      padding-left: 0;
      margin: 0;
    }

		& .swiper-button-prev, .swiper-button-next {
			width: 40px;
			height: 40px;
			background-color: #2372A8;
			border-radius: 50%;

      @include mobile {
        width: 30px;
        height: 30px;
      }

			&.swiper-button-disabled {
				display: none;

        @include small-tablet {
          display: flex;
        }
			}

			&::after {
				font-size: 23px;
				color: #fff;

        @include mobile {
          font-size: 18px;
        }
			}
		}

		.swiper-button-prev {
			left: 0;

      @media(max-width: 1260px) {
        left: 20px;
      }
      @include small-tablet {
        left: 0;
      }
		}

		.swiper-button-next {
			right: 0;

      @media(max-width: 1260px) {
        right: 20px;
      }
      @include small-tablet {
        right: 0;
      }
		}
	}

	&__slide {
		opacity: 0.5;
		transition: all 0.3s ease;
    @include big-desktop {
      opacity: 1;
    }

		&.swiper-slide-prev {
			opacity: 0;
      @include tablet {
        opacity: 1;
      }
		}

		&.swiper-slide-active, &.swiper-slide-next, &.swiper-slide-next + .swiper-slide {
			opacity: 1;
		}

		& div {
			padding: 20px;
			min-height: 350px;
			background-color: #fff;

      @include tablet {
        padding: 10px;
      }

      @include small-tablet {
        min-height: 370px;
      }

			& .small__slide-link .image {
				height: 225px;
				width: 100%;
				object-fit: contain;
        @include tablet {
          height: 180px;
        }
			}

			& .small__paragraph {
				margin-bottom: 15px;
				min-height: 68px;
				font-size: 18px;
				line-height: 1.2;
				color: #2C2C2C;

        @include tablet {
          min-height: 90px;
        }
        @include small-tablet {
          min-height: 120px;
        }
			}

			& .small__link {
				display: block;
				margin: auto auto 0;
				width: 150px;
				padding: 10px 20px;
				font-weight: 700;
				font-size: 18px;
				line-height: 24px;
				color: #2372A8;
				border: 2px solid #2372A8;
				text-align: center;
				transition: all 0.3s ease;

				&:hover {
					color: #fff;
					background-color: #2372A8;
				}
			}
		}
	}

  &__btns {
    @include small-tablet {
      position: absolute;
      top: 22px;
      left: calc((100% - 120px) / 2);
      width: 120px;
    }

    @include mobile {
      top: 26px;
      left: calc((100% - 80px) / 2);
      width: 80px;
    }
  }
}
