<header class="header">
  <div class="container">
    <div class="header__block">
      <button class="burger" data-burger>
        <span class="burger__line"></span>
      </button>
  
      <a href="./index-ru.html" class="header__logo-link">
        <svg class="header__logo">
          <use xlink:href="./img/sprite.svg#logo"></use>
        </svg>
      </a>

      <nav class="header-nav" data-menu>
        <ul class="list-reset header-nav__list">
          <li class="header-nav__item"><a href="#about" class="header-nav__link">Обо мне</a></li>
          <li class="header-nav__item"><a href="#portfolio" class="header-nav__link">Портфолио</a></li>
          <li class="header-nav__item"><a href="#smallProjects" class="header-nav__link">Маленькие проекты</a></li>
          <li class="header-nav__item"><a href="#contacts" class="header-nav__link">Контакты</a></li>
        </ul>
      </nav>
      <a href="./index.html" class="header__link">EN</a>
    </div>
  </div>
</header>