<section class="section about blue-back" id="about">
  <div class="container">
    <h2 class="title section__title _anim-items _anim-no-hide">About me</h2>
    <div class="about__block _anim-items">
      <p class="paragraph about__paragraph _anim-items _anim-no-hide">I am a junior web-developer. I've been creating websites for more than a year, already. Now, I am interested in creating functional and creative websites.</p>
      <p class="paragraph about__paragraph _anim-items _anim-no-hide">My journey in web-development started several years ago. I was just wondering how is it made, and turns out it's not that hard :)</p>
      <p class="paragraph about__paragraph about__paragraph-git _anim-items _anim-no-hide">Check out my github: 
        <a href="https://github.com/lisarazum?tab=repositories" target="_blank">                
        <svg>
          <use xlink:href="img/svg/sprite.svg#git"></use>
        </svg></a>
      </p>
      <h3 class="title about__work about__accordion-btn _anim-items _anim-no-hide">My IT work experience:</h3>

      <h3 class="title about__accordion-title _anim-items _anim-no-hide">09/2022 - now  |  html/css developer</h3>
      <p class="paragraph about__paragraph _anim-items _anim-no-hide"><a href="https://www.pult.ru/" target="_blank" class="about__link">Pult.ru</a></p>
      <p class="paragraph about__paragraph _anim-items _anim-no-hide">Now, I'm working at a company <a href="https://www.pult.ru/" target="_blank" class="about__link">Pult.ru</a>. My main job is to create landing pages and promotion pages that are adaptive and cross-browsered. But I also create new blocks and features, such as tooltips, sliders, feedback blocks. Actually, I try to make as many small tasks as I can, so our developers focus on big stuff.</p>

      <button class="btn about__accordion-btn _anim-items _anim-no-hide" id="aboutAccordion">
        <h3 class="title about__work">
          My non-IT work experience:
        </h3>
        <span class="about__arrow"></span>
      </button>
      <div class="about__accordion-list">
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">09/2020 - 07/2022  |  English teacher</h3>
          <p class="paragraph about__paragraph"><a href="https://capitalsc.ru/" target="_blank" class="about__link">Capital School Center</a></p>
          <p class="paragraph about__paragraph">For two years I've been teaching English in a small town in Russia. The lessons were for both kids and adults. In these two years I was able to help the kids to love English as I love it. And grow from an English teacher to the head of teachers.</p>
        </div>
        
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">10/2019 - 07/2020  |  Restaurant Manager</h3>
          <p class="paragraph about__paragraph"><a href="https://www.parklanehotel.ru/" target="_blank" class="about__link">Parklane</a></p>
          <p class="paragraph about__paragraph">After the experiencs I've had waitressing in the USA I was able to try myself in managing the waiters. My main job was to manage employees and make sure the customers are satisfied with the service and food.</p>
        </div>
        
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">06/2017 - 09/2018  |  Waitress</h3>
          <p class="paragraph about__paragraph"><a href="https://www.sprucepointinn.com/" target="_blank" class="about__link">Spruce Point Inn (the USA)</a></p>
          <p class="paragraph about__paragraph">The job took place for two summers in a row in 2017 and 2018. I was working during breakfast hours as a waitress.</p>
        </div>
        
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">06/2017 - 09/2018  |  Basser</h3>
          <p class="paragraph about__paragraph"><a href="https://boothbayharboroceansideresort.com/" target="_blank" class="about__link">Boothbay Harbor Oceanside Golf Resort (the USA)</a></p>
          <p class="paragraph about__paragraph">The job took place for two summers in a row in 2017 and 2018. I was mostly helping waiters to keep the restaurant clean and make sure the customers get what they've ordered.</p>  
        </div>
      </div>

      <h3 class="title about__work about__accordion-btn _anim-items _anim-no-hide">My main skills:</h3>
      <ul class="about__list _anim-items _anim-no-hide">
        <li class="about__item  _anim-no-hide">HTML</li>
        <li class="about__item  _anim-no-hide">CSS</li>
        <li class="about__item  _anim-no-hide">SCSS / Less</li>
        <li class="about__item  _anim-no-hide">JavaScript</li>
        <li class="about__item  _anim-no-hide">Gulp</li>
        <li class="about__item  _anim-no-hide">Git</li>
        <li class="about__item  _anim-no-hide">Bootstrap</li>
        <li class="about__item  _anim-no-hide">npm</li>
      </ul>
      <p class="paragraph about__paragraph _anim-items _anim-no-hide">My plan is to learn React so I can be able to work on bigger projects!</p>
    </div>
  </div>
</section>