<section class="about" id="about">
  <div class="container">
    <h2 class="title section-title about__section-title">About me</h2>
    <p class="paragraph about__paragraph">I'm a junior web developer interested in creating modern and creative web-sites and working with interesting people.</p>
    <p class="pargraph about__paragraph">The main area of expertise is HTML-development.</p>
    <p class="paragraph about__paragraph">HTML, CSS, JS and SCSS, creating landing pages anf multi-paged websites, using plugins, animations and other features. I'm starting React. I also have an experience with Wordpress.</p>
    <p class="paragraph about__paragraph">Well-organized and hard-working person, loyal employee and a team player.</p>
    <p class="paragraph about__paragraph">Visit my <a href="https://github.com/lisarazum?tab=repositories" target="_blank"> github </a> for more details.</p>

    <div class="about__block">
      <h3 class="title about__title">Skills & Experience</h3>
      <ul class="list-reset about__list">
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/js.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/js.png" class="image" alt="Java Script">
          </picture>
          <span class="text">JavaScript</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/html.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/html.png" class="image" alt="HTML5">
          </picture>
          <span class="text">HTML5</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/css.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/css.png" class="image" alt="CSS3">
          </picture>
          <span class="text">CSS3</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/sass.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/sass.png" class="image" alt="SASS">
          </picture>
          <span class="text">SASS</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/gulp.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/gulp.png" class="image" alt="Gulp">
          </picture>
          <span class="text">Gulp</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/git.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/git.png" class="image" alt="Git">
          </picture>
          <span class="text">Git</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/bootstrap.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/bootstrap.png" class="image" alt="Bootstrap">
          </picture>
          <span class="text">Bootstrap</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/figma.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/figma.png" class="image" alt="Figma">
          </picture>
          <span class="text">Figma</span>
        </li>
        <li class="about__item">
          <picture>
            <source srcset="./img/stack/vscode.webp" type="image/webp">
            <img loading="lazy" src="./img/stack/vscode.png" class="image" alt="VSCode">
          </picture>
          <span class="text">VSCode</span>
        </li>
      </ul>
    </div>
  </div>
</section>