<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="title section-title contacts__title">Contacts</h2>
    <p class="paragraph contacts__paragraph">Text me if you need a website!</p>
    <div class="contacts__block">
      <ul class="list-reset contacts__list">
        <li class="contacts__item">
          <a href="https://t.me/lisarazum" class="contacts__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
            @lisarazum
          </a>
        </li>
        <li class="contacts__item">
          <a href="mailto:liza0046@gmail.com" class="contacts__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#email"></use>
            </svg>
            liza0046@gmai.com
          </a>
        </li>
        <li class="contacts__item">
          <a href="https://instagram.com/lisarazum?igshid=YmMyMTA2M2Y=" class="contacts__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
            @lisarazum
          </a>
        </li>
        <li class="contacts__item">
          <a href="https://wa.me/79996057456" class="contacts__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
            Lisa
          </a>
        </li>
        <li class="contacts__item">
          <a href="https://github.com/lisarazum" class="contacts__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
            lisarazum
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>