<footer class="footer black-back section">
  <div class="container">
    <div class="footer__block">
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <a href="#about" class="footer__link">About me</a>
        </li>
        <li class="footer__item">
          <a href="#portfolio" class="footer__link">Portfolio</a>
        </li>
        <li class="footer__item">
          <a href="#smallprojects" class="footer__link">Small Projects</a>
        </li>
      </ul>
      <div class="footer-contact" id="contacts">
        <h3 class="title footer__title">Contact:</h3>
        <ul class="list-reset footer-contact__list">
          <li class="footer-contact__item">
            <a href="mailto:liza0046@gmail.com&subject=I want to order a website" class="footer__link footer-contact__link">
              <span class="footer-contact__img">
                <svg>
                  <use xlink:href="img/svg/sprite.svg#email"></use>
                </svg>
              </span>
              liza0046@gmail.com</a>
          </li>
          <li class="footer-contact__item">
            <a href="tel:+79996057456" class="footer__link footer-contact__link">
              <span class="footer-contact__img">
                <svg>
                  <use xlink:href="img/svg/sprite.svg#telephone"></use>
                </svg>
              </span>
              +7 999 605 74 56</a>
          </li>
          <li class="footer-contact__item">
            <a href="https://t.me/lisarazum" class="footer__link footer-contact__link">
              <span class="footer-contact__img">
                <svg>
                  <use xlink:href="img/svg/sprite.svg#telegram"></use>
                </svg>
              </span>
              @lisarazum</a>
          </li>
          <li class="footer-contact__item">
            <a href="https://instagram.com/lisarazum?igshid=YmMyMTA2M2Y=" class="footer__link footer-contact__link">
              <span class="footer-contact__img">
                <svg>
                  <use xlink:href="img/svg/sprite.svg#instagram"></use>
                </svg>
              </span>
              @lisarazum</a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        Copyright © 2023
      </div>
    </div>
  </div>
</footer>
