<section class="hero black-back" id="home">
  <div class="container hero__container">
    <div class="hero__block">
      <h1 class="title hero__title">
        Hi, I'm Lisa <br>
        I'm a&nbsp;web-developer
      </h1>
      <p class="paragraph hero__paragraph">I've been creating websites for more than a year now. Do you need one? Contact me!</p>
      <a href="#contact" class="hero__contact contact-btn">Contact me</a>
    </div>
    <div class="hero__back">
      <img src="./img/hero.png" class="hero__img" alt="a freelance web-developer">
    </div>
  </div>
</section>