<section class="hero">
  <div class="container hero-main">
      <div class="hero__block">
        <h1 class="title hero__title">
          Hi, I’m Lisa
          <br>
          I’m a web-developer
        </h1>
        <p class="paragraph hero__paragraph">I’ve been creating websites for more than a year now. Do you need one? Contact me!</p>
        <a href="#contacts" class="link-reset hero__link">Contact me</a>
      </div>
      <div class="hero__back">
        <img src="./img/hero-back.png" class="hero__img hero__back-img" alt="a freelance web-developer">
        <img src="./img/hero-img.png" class="hero__img hero__me-img" alt="a freelance web-developer">
        <img src="./img/circle.png" class="hero__circle-1" alt="">
        <img src="./img/circle-2.png" class="hero__circle-2" alt="">
        <img src="./img/circle-3.png" class="hero__circle-3" alt="">
        <img src="./img/circle-4.png" class="hero__circle-4" alt="">
        <img src="./img/circle-5.png" class="hero__circle-5" alt="">
      </div>
  </div>
</section>