<section class="section black-back portfolio slider-section" id="portfolio">
  <div class="container">
    <h2 class="title section__title">Portfolio</h2>

    <div class="swiper portfolio__swiper">
      <div class="swiper-wrapper portfolio__swiper-wrapper">
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/blanchard.png" alt="Blanchard Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Here's a project for an art gallery.  You can see different features that were realized here. Tooltips, sliders, dropdowns and others.</p>
          <a href="#" class="swiper-slide-link">Link to the site</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/revival.png" alt="Revival Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Here's a project for a french company, producing Hi-End Audio.</p>
          <a href="https://revival-audio.pult.ru/" class="swiper-slide-link">Link to the site</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/croc.png" alt="Crocodile Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Here's a project for an it-consulting.  We realized a feedback form, sliders, accordion.</p>
          <a href="#" class="swiper-slide-link">Link to the site</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/evklid.png" alt="Evklid Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Here's a project for a building company. You can view a slider and tabs.</p>
          <a href="#" class="swiper-slide-link">Link to the site</a>
          </div>
        </div>
      </div>
      <div class="slider-btns">
        <div class="swiper-button-prev swiper-btn portfolio__slider-prev"></div>
        <div class="swiper-button-next swiper-btn portfolio__slider-next"></div>
      </div>
    </div>
    </div>
  </div>
</section>