<section class="section about blue-back" id="about">
  <div class="container">
    <h2 class="title section__title _anim-items _anim-no-hide">Обо мне</h2>
    <div class="about__block">
      <p class="paragraph about__paragraph _anim-items _anim-no-hide">Я начинающий разработчик. Активно занимаюсь созданием сайтов больше года. Ищу новые, интересные проекты для пополнения портфолио.</p>
      <p class="paragraph about__paragraph about__paragraph-git _anim-items _anim-no-hide">Ссылка на github: 
        <a href="https://github.com/lisarazum?tab=repositories" target="_blank">                
        <svg>
          <use xlink:href="img/svg/sprite.svg#git"></use>
        </svg></a>
      </p>
      <h3 class="title about__work about__accordion-btn _anim-items _anim-no-hide">Опыт работы в IT</h3>

      <h3 class="title about__accordion-title _anim-items _anim-no-hide">09/2022 - сейчас  |  HTML-верстальщик</h3>
      <p class="paragraph about__paragraph _anim-items _anim-no-hide"><a href="https://www.pult.ru/" target="_blank" class="about__link">Pult.ru</a></p>
      <p class="paragraph about__paragraph _anim-items _anim-no-hide">На данный момент, я работаю в компании <a href="https://www.pult.ru/" target="_blank" class="about__link">Pult.ru</a>. Моя основная задача создавать адаптивные и кроссбраузерные лендинги и страницы акций. Помимо этого я верстаю новые блоки для наших основных сайтов и другие фичи. Например: тултипы, слайдеры, табы итд. Хотя на самом деле моя главная задача разгрузить команду разработки от мелких задач :)</p>

      <button class="btn about__accordion-btn _anim-items _anim-no-hide" id="aboutAccordion">
        <h3 class="title about__work">
          Мой не IT опыт:
        </h3>
        <span class="about__arrow"></span>
      </button>
      <div class="about__accordion-list">
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">09/2020 - 07/2022  |  Старший преподаватель Английского языка</h3>
          <p class="paragraph about__paragraph"><a href="https://capitalsc.ru/" target="_blank" class="about__link">Capital School Center</a></p>
          <p class="paragraph about__paragraph">Обязанности: преподавание Английского языка как для детей, так и для взрослых. За эти два года я смогла помочь детям полюбить английский так, как люблю его я. И вырасти от учителя английского языка до старшего преподавателя.</p>
        </div>
        
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">10/2019 - 07/2020  |  Менеджер ресторана</h3>
          <p class="paragraph about__paragraph"><a href="https://www.parklanehotel.ru/" target="_blank" class="about__link">Parklane</a></p>
          <p class="paragraph about__paragraph">Основная работа заключалась в управлении персоналом, командой до 20 человек, обслуживание мероприятий и обучение официантов.</p>
        </div>
        
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">06/2017 - 09/2018  |  Официант</h3>
          <p class="paragraph about__paragraph"><a href="https://www.sprucepointinn.com/" target="_blank" class="about__link">Spruce Point Inn (the USA)</a></p>
          <p class="paragraph about__paragraph">Работа проходила два лета подряд в 2017 и 2018 годах. Работа официантом на завтраках.</p>
        </div>
        
        <div class="about__accordion-item">
          <h3 class="title about__accordion-title">06/2017 - 09/2018  |  Помощник официанта</h3>
          <p class="paragraph about__paragraph"><a href="https://boothbayharboroceansideresort.com/" target="_blank" class="about__link">Boothbay Harbor Oceanside Golf Resort (the USA)</a></p>
          <p class="paragraph about__paragraph">Работа проходила два лета подряд в 2017 и 2018 годах. Обязанности: поддержка зала в чистоте, обслуживание посетителей, сервировка столов.</p>  
        </div>
      </div>

      <h3 class="title about__work about__accordion-btn _anim-items _anim-no-hide">Мои основные скилы</h3>
      <ul class="about__list _anim-items">
        <li class="about__item">HTML</li>
        <li class="about__item">CSS</li>
        <li class="about__item">SCSS / Less</li>
        <li class="about__item">JavaScript</li>
        <li class="about__item">Gulp</li>
        <li class="about__item">Git</li>
        <li class="about__item">Bootstrap</li>
        <li class="about__item">npm</li>
      </ul>
      <p class="paragraph about__paragraph _anim-items _anim-no-hide">В планах изучить React, чтобы была возможность работать над большими задачами.</p>
    </div>
  </div>
</section>