<section class="hero black-back" id="home">
  <div class="container hero__container">
    <div class="hero__block">
      <h1 class="title hero__title">
        Привет, я - Лиза <br>
        Веб-разработчик
      </h1>
      <p class="paragraph hero__paragraph">Я занимаюсь созданием сайтов уже более года. Если вам нужен сайт, свяжитесь со мной!</p>
      <a href="#contact" class="hero__contact contact-btn">Свяжитесь со мной</a>
    </div>
    <div class="hero__back">
      <img src="./img/hero.png" class="hero__img" alt="a freelance web-developer">
    </div>
  </div>
</section>