<header class="header">
  <div class="container">
    <div class="header-block">
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="line"></span>
      </button>
      <a href="#" class="header__logo">
        <img src="../img/svg/logo.svg" alt="Логоитип @lisarazum">
      </a>
      <nav class="header__nav" data-menu>
        <button class="btn header__close"></button>
        <ul class="list-reset header__list">
          <li class="header__item ru-header__item" data-menu-item>
            <a href="#about" class="header__link">Обо мне</a>
          </li>
          <li class="header__item ru-header__item" data-menu-item>
            <a href="#portfolio" class="header__link">Портфолио</a>
          </li>
          <li class="header__item ru-header__item" data-menu-item>
            <a href="#smallprojects" class="header__link">Маленькие проекты</a>
          </li>
          <li class="header__item ru-header__item" data-menu-item>
            <a href="contacts" class="header__link">Контакты</a>
          </li>
        </ul>
        <a href="#" class="header__nav-logo" data-menu-item>
          <img src="../img/svg/logo.svg" alt="Логоитип @lisarazum">
        </a>
      </nav>
      <a href="index.html" class="header__language">EN</a>
      <a href="#contact" class="contact-btn header__contact">Свяжитесь со мной</a>
    </div>
  </div>
</header>
