<section class="hero black-back" id="home">
  <div class="container hero__container">
    <div class="hero__block">
      <h1 class="title hero__title _anim-items _anim-no-hide">
        Привет, я - Лиза <br>
        Веб-разработчик
      </h1>
      <p class="paragraph hero__paragraph _anim-items _anim-no-hide">Я занимаюсь созданием сайтов уже более года. Если вам нужен сайт, свяжитесь со мной!</p>
      <a href="#contact" class="hero__contact contact-btn _anim-items _anim-no-hide">Свяжитесь со мной</a>
    </div>
    <div class="hero__back">
      <img src="./img/hero-back.png" class="hero__img hero__back-img" alt="a freelance web-developer">
      <img src="./img/hero-img.png" class="hero__img hero__me-img" alt="a freelance web-developer">
      <img src="./img/circle.png" class="hero__circle-1" alt="">
      <img src="./img/circle-2.png" class="hero__circle-2" alt="">
      <img src="./img/circle-3.png" class="hero__circle-3" alt="">
      <img src="./img/circle-4.png" class="hero__circle-4" alt="">
      <img src="./img/circle-5.png" class="hero__circle-5" alt="">
    </div>
  </div>
</section>