<section class="section black-back portfolio slider-section" id="portfolio">
  <div class="container">
    <h2 class="title section__title">Портфолио</h2>

    <div class="swiper portfolio__swiper">
      <div class="swiper-wrapper portfolio__swiper-wrapper">
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/blanchard.png" alt="Blanchard Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Проект для картинной галереи. Реализованы слайдеры, выпадающие окна, тултипы, и др.</p>
          <a href="#" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/revival.png" alt="Revival Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Проект для компании Revival Audio, французской компании специализирующейся на производстве Hi-End аппаратуры.</p>
          <a href="https://revival-audio.pult.ru/" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/croc.png" alt="Crocodile Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Проект для компании занимающейся IT консультациями. Реализована форма обратной связи, аккордеон, слайдеры.</p>
          <a href="#" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block">
          <img src="../img/evklid.png" alt="Evklid Portfolio image" class="portfolio__img">
          <p class="paragraph swiper-slide-paragraph">Проект для строительной компании. В проекте показаны слайдеры, табы.</p>
          <a href="#" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
      </div>
      <div class="slider-btns">
        <div class="swiper-button-prev swiper-btn portfolio__slider-prev"></div>
        <div class="swiper-button-next swiper-btn portfolio__slider-next"></div>
      </div>
    </div>
    </div>
  </div>
</section>