<section class="section blue-back portfolio slider-section" id="smallprojects">
  <div class="container">
    <h2 class="title section__title _anim-items _anim-no-hide">Маленькие проекты</h2>

    <div class="swiper portfolio__swiper small-projects__slider">
      <div class="swiper-wrapper portfolio__swiper-wrapper">
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block small-projects__block">
          <img src="../img/pairs.png" alt="Игра в пары" class="portfolio__img small-projects__img">
          <p class="paragraph swiper-slide-paragraph">Игра в пары, где можно выбрать кол-во карточек для игры.</p>
          <a href="https://codepen.io/liza-razumowskaq/pen/ZERwMqZ?editors=0011" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block small-projects__block">
          <img src="../img/consult.png" alt="Карточка консультации эксперта" class="portfolio__img small-projects__img">
          <p class="paragraph swiper-slide-paragraph">Небольшой блок на сайте Галереи Назаров. Консультация эксперта с формой. </p>
          <a href="https://nazarov-gallery.ru/catalog/proigryvatel-vinila-denon-dp-400-black" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block small-projects__block">
          <img src="../img/JS_slider.png" alt="Кастомный слайдер на JS" class="portfolio__img small-projects__img">
          <p class="paragraph swiper-slide-paragraph">Кастомный слайдер на JS с кнопками и возможностью перелистывания мышкой или пальцем.</p>
          <a href="https://codepen.io/liza-razumowskaq/pen/ZEjegLw?editors=1111" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block small-projects__block">
          <img src="../img/students.png" alt="JS Таблица" class="portfolio__img small-projects__img">
          <p class="paragraph swiper-slide-paragraph">Форма для заполнения, данные которой вносятся в таблицу. Проект не закончен, так как хочется добавить фильтрацию, возможность поиска и валидацию для формы.</p>
          <a href="https://codepen.io/liza-razumowskaq/pen/WNKKaeK" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
        <div class="swiper-slide portfolio__slide">
          <div class="swiper-slide__block small-projects__block">
          <img src="../img/star.png" alt="CSS рейтинг" class="portfolio__img small-projects__img">
          <p class="paragraph swiper-slide-paragraph">Простенький рейтинг звездочками на CSS.</p>
          <a href="https://codepen.io/liza-razumowskaq/pen/vYaPvzd" class="swiper-slide-link">Посмотреть</a>
          </div>
        </div>
      </div>
      <div class="slider-btns small-projects__slider-btns">
        <div class="swiper-button-prev swiper-btn swiper-btn--green portfolio__slider-prev"></div>
        <div class="swiper-button-next swiper-btn swiper-btn--green portfolio__slider-next"></div>
      </div>
    </div>
    </div>
  </div>
</section>