<section class="small" id="smallProjects">
  <div class="container">
    <h2 class="title section-title small__title">Small Projects</h2>
  </div>
  <div class="container small__container">
    <div class="swiper small__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide small__slide">
          <div>
            <a href="https://codepen.io/liza-razumowskaq/pen/jOQwBpQ" class="small__slide-link">
              <picture>
                <source srcset="./img/small-1.webp" type="image/webp">
                <img loading="lazy" src="./img/small-1.png" class="image" alt="Small JS projects">
              </picture>
            </a>
            <p class="paragraph small__paragraph">A to-do list, that stores your tasks in local storage.</p>
            <a href="https://codepen.io/liza-razumowskaq/pen/jOQwBpQ" class="small__link">Have a look</a>
          </div>
        </div>
        <div class="swiper-slide small__slide">
          <div>
            <a href="https://codepen.io/liza-razumowskaq/pen/ZERwMqZ?editors=0011" class="small__slide-link">
              <picture>
                <source srcset="./img/small-2.webp" type="image/webp">
                <img loading="lazy" src="./img/small-2.png" class="image" alt="Small JS projects">
              </picture>
            </a>
            <p class="paragraph small__paragraph">A game of pairs.</p>
            <a href="https://codepen.io/liza-razumowskaq/pen/ZERwMqZ?editors=0011" class="small__link">Have a look</a>
          </div>
        </div>
        <div class="swiper-slide small__slide">
          <div>
            <a href="https://codepen.io/liza-razumowskaq/pen/qByBGwJ" class="small__slide-link">
              <picture>
                <source srcset="./img/small-3.webp" type="image/webp">
                <img loading="lazy" src="./img/small-3.png" class="image" alt="Small JS projects">
              </picture>
            </a>
            <p class="paragraph small__paragraph">A table, which is filled with form values.</p>
            <a href="https://codepen.io/liza-razumowskaq/pen/qByBGwJ" class="small__link">Have a look</a>
          </div>
        </div>
        <div class="swiper-slide small__slide">
          <div>
            <a href="https://codepen.io/liza-razumowskaq/pen/ZEjegLw?editors=1111" class="small__slide-link">
              <picture>
                <source srcset="./img/small-4.webp" type="image/webp">
                <img loading="lazy" src="./img/small-4.png" class="image" alt="Small JS projects">
              </picture>
            </a>
            <p class="paragraph small__paragraph">Custom JS slider with buttons and the ability to move slides with a mouse or a finger. BTW there’re not ordinary sldes ;)</p>
            <a href="https://codepen.io/liza-razumowskaq/pen/ZEjegLw?editors=1111" class="small__link">Have a look</a>
          </div>
        </div>
        <div class="swiper-slide small__slide">
          <div>
            <a href="https://codepen.io/liza-razumowskaq/pen/vYaPvzd" class="small__slide-link">
              <picture>
                <source srcset="./img/small-5.webp" type="image/webp">
                <img loading="lazy" src="./img/small-5.png" class="image" alt="Small JS projects">
              </picture>
            </a>
            <p class="paragraph small__paragraph">CSS star rating project.</p>
            <a href="https://codepen.io/liza-razumowskaq/pen/vYaPvzd" class="small__link">Have a look</a>
          </div>
        </div>
      </div>

      <div class="small__btns">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>